<p>
  <strong>Phone:</strong>
  <%= @phone.phone %><br>
  <strong>Operator:</strong>
  <%= @phone.operator %><br>
  <strong>User_id:</strong>
  <%= @phone.user_id %>
</p>


<%= link_to 'Back', emails_path %>